{% extends "basetemplate_spiegel.html" %}
{% block title %}
     fotoslider
{% endblock %}
{% block body %}
<div class="container.fotoslider">
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>

    </div>
    <div class="item slides">
      <div class="slide-2"></div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>

    </div>
    <div class="item slides">
      <div class="slide-4"></div>

    </div>
    <div class="item slides">
      <div class="slide-5"></div>

    </div>
    <div class="item slides">
      <div class="slide-6"></div>

    </div>
    <div class="item slides">
      <div class="slide-7"></div>

    </div>
    <div class="item slides">
      <div class="slide-8"></div>

    </div>
    <div class="item slides">
      <div class="slide-9"></div>

    </div>
    <div class="item slides">
      <div class="slide-10"></div>

    </div>
  </div>
</div>
</div>
<div class="indicator">
<img src="/static/images/Untitled-4.png" width="192px" height="108px">

</div>
    <br>
{% endblock %}
